@font-face {
  font-family: ClashGrotesk;
  src: url('/public/fonts/ClashGrotesk.ttf') format('ttf');
}

@font-face {
  font-family: Yarndings20;
  src: url('/public/fonts/Yarndings20-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Harmond;
  src: url('/public/fonts/Harmond-SemiBoldCondensed.otf') format('otf');
}

@font-face {
  font-family: HarmondIta;
  src: url('/public/fonts/Harmond-SemBdItaCond.otf') format('otf');
}
