---
let date = new Date();
---
<div class="h-screen flex flex-col justify-between">
  <div class="flex gap-4 py-4 justify-end">
    <a href="" class="text-orange font-custom font-bold">OVERVIEW</a>
    <a href="" class="text-orange font-custom font-bold">THEME</a>
    <a href="" class="text-orange font-custom font-bold">ABOUT</a>
  </div>
  <div class="flex flex-col gap-2 items-center">
    <div>
      <p class="text-orange font-titleita italic text-9xl">Clément Nicolas</p>
      <p  class="text-orange font-title text-5xl">Photographs</p>
    </div>
  </div>
  <div class="flex justify-between items-end py-4">
    <p class="text-orange font-bold">{date}</p>
    <p class="text-orange font-bold text-7xl">100</p>
  </div>
</div>
