---
import dayjs from "dayjs";
import ScrambleText from "./animation/ScrambleText.astro";
import CounterAnimation from "./animation/CounterAnimation.astro";


let date = new Date();
const format = dayjs(date).format('ddd, MMM DD, YYYY HH:mm A')
---
<div class="h-screen flex flex-col justify-between">
  <div class="flex gap-4 py-4 justify-end font-custom text-orange text-lg">
    <a href=""><ScrambleText text="Overview" delay={0}/></a>
    <a href=""><ScrambleText text="Theme" delay={0}/></a>
    <a href=""><ScrambleText text="About" delay={0}/></a>
  </div>
  <div class="flex flex-col gap-2 items-center">
    <div class=" flex flex-col text-orange font-titleita">
      <ScrambleText text="Clément Nicolas" delay={0} className="text-9xl"/>
      <ScrambleText text="Photographs" delay={0} className="text-7xl"/>
    </div>
  </div>
  <div class="flex justify-between items-end py-4 text-orange">
    <ScrambleText text=`${format}` delay={0} className="font-custom text-lg"/>
    <CounterAnimation counter={0} maxCounter={100} seconds={3} className="font-title text-7xl"/>
  </div>
</div>
